<%- include('components/head.ejs', {page: 'post', cssSource: '../css/post.css'}); %>

<body>

  <%- include('components/header.ejs', {isLoggedIn, userId}); %>

  <div class="write-container">
    <div class="box">
      <h2> <%= post.title %> </h2>
      <% post.body.forEach(line => { %>
      <p class="body"> <%= line %> </p>
      <% }) %>
      <div class="info">
        <div class="nd">
          <h4 class="name"> <%= post.name %> </h4>
          <p> <%= post.shared_at %> </p>
        </div>
        <div class="like">
          <form action="/like" method="post">
            <button class="like">like</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</body>

</html>