<%- include('components/head.ejs', {page: 'post', cssSource: '../css/post.css'}); %>

<body>

  <%- include('components/header.ejs', {isLoggedIn, myId}); %>

  <div class="write-container">
    <div class="box">
      <h2> <%= post.title %> </h2>
      <% post.body.forEach(line => { %>
      <p class="body"> <%= line %> </p>
      <% }) %>
      <div class="info">
        <div class="nd">
          <h4 class="name"><a href="/profile/<%= post.id %> "> <%= post.name %> <i class="fa-solid fa-arrow-right"></i></a> </h4>
          <p> <%= post.shared_at %> </p>
        </div>
        <div class="like">
          <!-- <form action="/like" method="post">
            <button class="like">like</button>
          </form> -->
          <h4><%= post.likes %> </h4>
          <i class="fa-regular fa-heart"></i>
        </div>
        <% let p = post.post_id %>
        <script>
          let postId = <%= p %>;
          console.log(postId)
          let likeBtn = document.querySelector('i.fa-heart')

          likeBtn.onclick = () => {
            if (likeBtn.classList.contains('fa-regular')) {
              likeBtn.classList.remove('fa-regular')
              likeBtn.classList.add('fa-solid')
            } else {
              likeBtn.classList.remove('fa-solid')
              likeBtn.classList.add('fa-regular')
            }
            let obj = {
              postId
            }
            fetch('/like', {
                method: 'POST',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(obj)
              })
              .then();

          }
        </script>
      </div>
    </div>
  </div>

</body>

</html>