<%- include('components/head.ejs', {page: 'post', cssSource: '../css/post.css'}); %>

<body>

  <%- include('components/header.ejs', {isLoggedIn, myId}); %>

  <div class="write-container">
    <div class="box">
      <h2> <%= post.title %> </h2>
      <% post.body.forEach(line => { %>
      <p class="body"> <%= line %> </p>
      <% }) %>
      <div class="info">
        <div class="nd">
          <h4 class="name"><a href="/profile/<%= post.id %> "> <%= post.name %> <i class="fa-solid fa-arrow-right"></i></a> </h4>
          <p> <%= post.shared_at %> </p>
        </div>
        <div class="like">
          <i class="fa-regular fa-heart"></i>
        </div>
        <% let p = post.post_id %>
        <% let id = myId %>
        <script>
          let postId = <%= p %>;
          let likeBtn = document.querySelector('i.fa-heart')


          fetch('/is-liked', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                postId
              })
            }).then(res => res.json())
            .then(r => {
              if (r.isLiked) {
                likeBtn.classList.remove('fa-regular')
                likeBtn.classList.add('fa-solid')
              }
            }).catch(err => {
              console.error(err)
            })

          likeBtn.addEventListener('click', () => {
            if (likeBtn.classList.contains('fa-regular')) {
              likeBtn.classList.remove('fa-regular')
              likeBtn.classList.add('fa-solid')
            } else {
              likeBtn.classList.remove('fa-solid')
              likeBtn.classList.add('fa-regular')
            }
            let obj = {
              postId
            }


            fetch('/like', {
              method: 'POST',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(obj)
            }).catch(err => {
              console.error(err)
            })

          })
        </script>
      </div>
      <% if(post.id == myId) {%>
      <div class="post-settings">
        <h3 id="edit-btn">edit</h3>
        <h3 id="delete-btn">delete</h3>

      </div>
      <% } %>
    </div>
  </div>
  <div class="delete">
    <div class="delete-box">
      <p>are you sure you want to delete this post</p>
      <div class="btns">
        <h3>cancel</h3>
        <h3>delete</h3>
      </div>
    </div>
  </div>
  <script>
    let deleteBtn = document.getElementById('delete-btn')
    deleteBtn.onclick = () => {
      let deleteWidget = document.querySelector('.delete')
      deleteWidget.className = 'delete active'
      deleteWidget.onclick = () => {
        deleteWidget.className = 'delete'
      }
      let deleteCancel = document.querySelector('.delete .btns h3:first-child')
      deleteCancel.onclick = () => {
        deleteWidget.className = 'delete'
      }
      let deletePost = document.querySelector('.delete .btns h3:last-child')
      deletePost.onclick = () => {
        let id = <%= id %>
        let post_id = <%= p %>
        let deleteObj = {
          id,
          post_id
        }

        fetch('/delete-post', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(deleteObj)
          })
          .then((e) => {
            console.log(e)
            if (e.status == 200) {
              location.href = e.url
            }
          })
          .catch(err => {
            console.error(err)
          })
      }
    }
  </script>
</body>

</html>